@using System.Configuration
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 style="color: red;">Millionare Web App</h1>
    <h2 style="color: green;">Cash money money money</h2>
    <h3>This stuff is rad.</h3>
    
    <p>This website is a new online store selling awesome stuff.</p>

</div>

<div>
    <p>
        Running in the @ConfigurationManager.AppSettings["EnvironmentName"] environment.
    </p>
</div>