@using System.Configuration
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 style="color: red;">Millionare Web App</h1>
    <h2 style="color: green;">We love the dollarz</h2>
    <h3>Dr. Robotnik's Mean Green Machine</h3>
    
    <p>This website is a new online store selling awesome stuff that you should be buying.</p>

    <p>Testing the whole pipeline...</p>

</div>

<div>
    <p>
        Running in the @ConfigurationManager.AppSettings["EnvironmentName"] environment.
        Running in the @ConfigurationManager.AppSettings["RoleName"] environment.
        Running in the @ConfigurationManager.AppSettings["MachineName"] environment.
    </p>
</div>